* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	height: 100vh;
	width: 100vw;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 80px;
	/* padding: 0 10px 0; */
	background-color: #fff;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.material-icons-balance {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	color: #666;
	margin-left: 15px;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	margin-right: 15px;
	background-color: #666;
	border-radius: 50%;
}

.material-icons-menu {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	color: #fff;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding-top: 50px;
	background-color: #666;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 300px;
	height: 400px;
	background-color: #fff;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.card {
	position: relative;
}
.card-container {
	/* position: relative; */
	padding: 40px;
}

.title, .text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #666;
}
.title {
	display: flex;
	flex-direction: column;
	
	font-size: 18px;
	font-weight: normal;
	margin: 15px;
}

.sub {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 160px;
	font-size: 80px;
	font-weight: normal;
	background-color: #666;
	border-radius: 50%;
	margin: 15px;
	color: #fff;

}

.text {
	font-size: 18px;
	font-weight: bold;
	margin: 15px;

}

hr {
	
	width: 50%;

}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -10px;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid #666;

}
.button button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 160px;
	height: 50px;
	font-size: 14px;
	color: #666;
	border-radius: 20px;
	border: 0px solid #666;


}

.material-icons-arrow {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	color: #666;


	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}